[Match]
Name=ffrl-a-ix-dus

[Network]
Description=FFRL Backbone Rheinland (A), Düsseldorf

[Address]
Address=100.64.3.177/32
Peer=100.64.3.176/32

[Address]
Address=185.66.194.26/32

[Address]
Address=2a03:2260:0:1e2::2/64

[Route]
Destination=100.64.3.176/31
PreferredSource=100.64.3.177
Protocol=kernel
Scope=link
Table=181

[Route]
Destination=100.64.3.176/31
PreferredSource=100.64.3.177
Protocol=kernel
Scope=link
Table=83

[RoutingPolicyRule]
Family=both
IncomingInterface=ffrl-a-ix-dus
Table=83
Priority=11181

[Link]
MTUBytes=1400
