[Match]
Name=ffrl-b-ak-ber

[Network]
Description=FFRL Backbone Rheinland (B), Berlin

[Address]
Address=100.64.3.171/32
Peer=100.64.3.170/32

[Address]
Address=185.66.194.27/32

[Address]
Address=2a03:2260:0:1df::2/64

[Route]
Destination=100.64.3.170/31
PreferredSource=100.64.3.171
Protocol=kernel
Scope=link
Table=181

[Route]
Destination=100.64.3.170/31
PreferredSource=100.64.3.171
Protocol=kernel
Scope=link
Table=83

[RoutingPolicyRule]
Family=both
IncomingInterface=ffrl-b-ak-ber
Table=83
Priority=11181

[Link]
MTUBytes=1400
