[Unit]
Description=Store ebtables firewall rules
Before=shutdown.target
DefaultDependencies=No

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/sbin/ebtables-save > /var/lib/ebtables/rules-save"

[Install]
WantedBy=shutdown.target
