[Unit]
Description=Restore ebtables firewall rules
# if both are queued for some reason, don't store before restoring :)
Before=ebtables-store.service
# sounds reasonable to have firewall up before any of the services go up
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/sbin/ebtables-restore < /var/lib/ebtables/rules-save"

[Install]
WantedBy=basic.target
