[Match]
Name=ffrl-b-ix-dus

[Network]
Description=FFRL Backbone Rheinland (B), Düsseldorf

[Address]
Address=100.64.3.189/32
Peer=100.64.3.188/32

[Address]
Address=185.66.195.83/32

[Address]
Address=2a03:2260:0:1e8::2/64

[Route]
Destination=100.64.3.188/31
PreferredSource=100.64.3.189
Protocol=kernel
Scope=link
Table=181

[Route]
Destination=100.64.3.188/31
PreferredSource=100.64.3.189
Protocol=kernel
Scope=link
Table=83

[RoutingPolicyRule]
Family=both
IncomingInterface=ffrl-b-ix-dus
Table=83
Priority=11181

[Link]
MTUBytes=1400
